name: CI

on: [push, pull_request]

env:
  RUST_BACKTRACE: "1" # Make Rust print full backtrace on error

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        rust: [stable]

    steps:
    - name: Checkout code
      uses: actions/checkout@v1

    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}

    - name: Build
      run: |
        cargo test --verbose --no-run

    - name: Run tests
      run: |
        cargo test --verbose -j1 -- --nocapture
